@import "tailwindcss";

:root {
  font-family: arial, sans-serif;
  color: #202124;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

svg {
  display: block;
}

@import "./google.css";
